.sidebar {
  background-color: $color-primary;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media only screen and (min-width: $bp-large) {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    justify-content: center;
  }
}

.nav-btn {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  margin-top: 0;
  margin-right: 3rem;
  align-self: center;

  @media only screen and (min-width: $bp-large) {
    margin-top: 4rem;
    align-self: flex-start;
    margin-right: 0;
  }

  &--bar-1,
  &--bar-2,
  &--bar-3 {
    height: 2px;
    width: 4.5rem;
    margin: 1.5rem 0;
    background-color: #fff;
    transition: all 400ms;
  }

  &--bar-1 {
    &.change {
      transform: rotate(-45deg) translate(-8px, 8px);

      @media only screen and (min-width: $bp-largest) {
        transform: rotate(-45deg) translate(-12px, 10px);
      }
    }
  }

  &--bar-2 {
    &.change {
      opacity: 0;
    }
  }

  &--bar-3 {
    &.change {
      transform: rotate(45deg) translate(-11px, -12px);

      @media only screen and (min-width: $bp-largest) {
        transform: rotate(45deg) translate(-12px, -12px);
      }
    }
  }
}
